.mail-button {
    background-color: black;
    border: 10cm;
}
.mail-button:hover {
    background-color: white;
    border: 10cm;
}

.mailto-mail:hover {
    color: black;
}
.mailto-mail {
    color: white;
}
